data_collection/apikey.txt
data_collection/privatekey.txt
selection/data/*
selection/output/*
selection_C++/data/*
selection_C++/output/*
selection_C++/cmake-build-debug/*
statistics/test/*
statistics/output_data/*
